@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    list-style: none;
    text-align: justify;
    font-family: 'Roboto', sans-serif;;
    
}
body{
    background-color: #88BDBC;
}
h1{
    letter-spacing: 10px;
}
h1,h2{
    text-align: center;
    font-size: 2.5em;
}
p {
    padding:5%;
font-size: 1em;
}
#grid-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width:100%;
    
}

.grid-item{
    border: 2px solid #254E58;
    box-shadow: 0px 0px 12px 4px #254E58;
    text-align: center;
    width:200px;
    max-height:500px;
    margin:1%;
}
#grid-flex li {
    display:flex;
   
}
#grid-flex li, h3, img, p{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap:nowrap;
}

img {
    width: 200px;
    
}
.grid-item:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 12px 4px #254E58; 
    transition: 0.2s;
    
}
ul li:first-child {
    flex-basis:48%;
    
}

ul li:not(:first-child) {
    flex: 1 0 23%;

}  

/* Media Query for Mobile Devices */ 
@media (max-width: 480px) { 
   
   
    img{
        width:80%;
    }
    ul li:first-child {
        flex:1 1 100%;
        
    }
    
    ul li:not(:first-child) {
        flex:1 1 40%;
    
    }
    h1,h2{
        
        font-size: 1.8em;
    }  
    h3{
        font-size:1em;
    }
    p {
        padding:2%;
    font-size: 0.9em;   
}   
} 

  
/* Media Query for low resolution  Tablets, Ipads */ 
 @media  (min-width: 480px) { 
    
    img{
        width:80%;
    }
    ul li:first-child {
        flex:1 1 50%;
        
    }
    
    ul li:not(:first-child) {
        flex:0 1 31%;
    
    }  
} 
  
@media (min-width: 768px) and (max-width: 1024px) { 
  
    img{
        width:80%;
    }
    ul li:first-child {
        flex:1 1 50%;
        
    }
    
    ul li:not(:first-child) {
        flex:1 1 22%;
    
    }  
}  

@media (min-width: 1024px) { 
   
    img{
        width:80%;
    }
    ul li:first-child {
        flex:1 1 47%;
        
    }
    
    ul li:not(:first-child) {
        flex:1 1 22%;
    
    }  
} 
