*{
    margin:0;
    padding:0;
}
body{
    font-family: "RO Sans",Calibri,sans-serif;
}
a {
    text-decoration: none !important;
}


.navbar {
    min-height: 74px;
    color: #FFFFFF;
    background-color: #01689B;
}
.navbar .navbar-brand{
    font-size: 2rem;
}

.navbar div ul li {
    
    padding: 10px 5px 10px 5px;
}
.navbar .nav-item>a{
    font-size: 1.2rem;
    
}
.style {
    background-color:#f3f3f3;
}



.manwlis{
    background-image: url('banner.jpg');
     background-repeat: no-repeat; 
     background-size: cover; 
     background-position: center center; 
     min-height: 320px;
     -webkit-animation: animate 3s ;
     animation: animate 3s ;
 }
 @-webkit-keyframes animate {
    from {opacity: 0.2;}
    to {opacity: 1;}
  }

  /* Standard syntax */
  @keyframes animate {
    from {opacity: 0.2;}
    to {opacity: 1;}
  }
  .lista  a{
      color:rgb(23, 98, 140);
  }
 .container-fluid .boxaspro{
     height:240px;
 }

 .container-fluid ul li{
    font-size: 1.125rem;
    line-height: 1.625rem;
    font-weight: 700;
    color: #01689b;
    list-style: none;
    
 
 }
 .start h3 a{
     color:rgb(23, 98, 140);
 }
 .start h3 a:hover{
    text-decoration: underline!important;
}
 main div h3{
     color:rgb(23, 98, 140);
 }
 main div h3 p{
    color:#000;
    font-weight: 400;
}
.more a h5{
    font-size: 1.125rem;
    color:rgb(23, 98, 140);
    font-weight:700;
    margin:35px 0;
    line-height: 26px;
    font-weight: bold;
}
.card{
    border: none;
    
}
.news h3 a{
    color:rgb(23, 98, 140);
}
.news h3 a:hover{
text-decoration: underline !important;
}
/* .news h3 a:visited{
    color:rgb(1, 104, 155);
} */
footer{
    background-color: #01689B;
    color:white;
}
footer ul li a{
    color:white;
    font-size:1.125rem;
}
footer ul li a:hover{
    color:white;
    text-decoration: underline!important;
}

footer h5{
    font-size: 1.25rem;
}


.btn:hover{
    background-color:white;
    color:#01689B;
    text-decoration: none;
}

.btn{
    border-radius: 0 !important;
}
.gloses {
    color: #b2d7ee;
}
.active{
    color: black !important;
    background-color: white!important;
    border:3px solid white !important ;
    font-weight: bold !important;
}
.border  {
    color:black!important;
    border:3px solid #CBD2E3 !important ;
}
.border h2 a{
    color:#17628c;
    font-weight: bold;
    font-size:1.9375rem;
}
